extends navbar
block append content

  script(src='../javascript/query.js')
  html
  head
  body
    
    form(action='/addlisting' method='POST')
      .grid-container
        .grid-item
          label
        |     
        .grid-item2
          h3 #{title}
        |
        .grid-item
          label(for='bar name') Bar name:
        |
        .grid-item2
          input(type='text', name='name', tabindex='10', size='30')
        |
        .grid-item
          label(for='street address') Street Address:
        |     
        .grid-item2
          input(type='text', name='street', tabindex='10', size='30')
        |     
        .grid-item
          label(for='city') City:
        |     
        .grid-item2
          input(type='text', name='city', tabindex='10', size='30')
        |     
        .grid-item
          label(for='zipcode') Zip code:
        |     
        .grid-item2
          input(type='text', name='zip', tabindex='10', size='30')
        |     
        .grid-item
          label(for='phone number') Phone number:
        |     
        .grid-item2
          input(type='text', name='phone', tabindex='10', size='30')
        |     
        .grid-item
          label(for='happy hour') Time of happy hour:
        |     
        .grid-item2
          input(type='text', name='hh', tabindex='10', size='30')
        |     
        .grid-item
          label(for='awesome') Why is it awesome?
        |     
        .grid-item2
          textarea(type='text', name='awesome', cols='30', rows='4', tabindex='30')
        |     
        .grid-item
          label(for='submit')
        |     
        .grid-item2
          input.submit(type='submit', name='submit', value='create')
        |     
        #req
        p1(id='response')
        if (empty)
          .grid-item
            div.alert.alert-danger Error: All Fields Required
        if (success)
          .grid-item
            div.alert.alert-success Bar added to database
        

