extends navbar

h2 Select a bar to delete:

form

    label City:
    br
    input(type='text' name='city')
    br
    label Zip:
    br
    input(type='text' name='zip')
    br
    label Bar ID:
    br
    input(type='text' name='id')