block footer
    footer
        p.footerfont
            small
                | &copy;
                | by
                a(href='https://github.com/anuslorah/AD320-group-project1' target='_blank') GroupWebDevTeamX1
                | , All Rights Reserved ~
                a(href='index.php')
                    i.fa.fa-fw.fa-home
                    | HOME
                a(href='https://www.facebook.com/' target='_blank')
                    img.fb(src='images/fb.png' alt='facebook')
                a(href='https://twitter.com/' target='_blank')
                    img.twitter(src='images/twitter.png' alt='twitter')
