extends navbar
block append content

    form(action="/login" method="post")
        div(class='grid-container')
            div(class='grid-item')
                h2 #{title}
            div(class='grid-item2')
            div(class='grid-item')
                label Username:
            div(class='grid-item2')
                input(type='text', placeholder='jane.doe1', name='uid')
            div(class='grid-item')
                label Password:
            div(class='grid-item2')
                input(type='password', placeholder='******', name='pwd')
            div(class='grid-item')
                label
            div(class='grid-item2')
                input(type='submit' name='submit' value='Login')

