doctype html
head
  AD320_Group
    //-<!--meta data https://www.w3schools.com/tags/tag_meta.asp -->
    meta(name="viewport" content="width=device-width, initial-scale=1", user-scalable=no)
    meta(name="robots" content="noindex,nofollow")
    meta(charset="UTF-8")

    // Latest compiled and minified CSS
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    //-<!-- bootstrap fontawesome icons -->
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")



    //-links to css files
    link(rel="stylesheet" href="/stylesheets/navStyle.css")
    link(rel="stylesheet" href="/stylesheets/main.css")

body
  //block content
  //-START WRAPPER
  div(class="wrapper")

    h2 Best Happy Hour
    //- START NAV
    nav
      ul
        li
          a(href='/') search
        li
          a(href='addlisting') add a listing
        li
          a(href='updatelisting') update a listing
        li
          a(href='deletelisting') delete a listing
    //-END NAV

  block content