extends navbar
block content


    div(class='grid-container')
        div(class='grid-item')
            h2 Search for a bar:
        div(class='grid-item2')
        div(class='grid-item')
            label(for='city') City:
        div(class='grid-item2')
            input(type='text' name='city')
        div(class='grid-item')
            label(for='zip code') Zip:
        div(class='grid-item2')
            input(type='text' name='zip')
        div(class='grid-item')
            label(for='search')
        div(class='grid-item2')
            input(type='submit' name='submit' value='search')