extends navbar
block content

    form(action="/signup" method="post")
        div(class='grid-container')
            div(class='grid-item')
                h2 #{title}
            div(class='grid-item2')
            div(class='grid-item')
                label First Name:
            div(class='grid-item2')
                input(type='text', placeholder='Jane', name='first')
            div(class='grid-item')
                label Last Name:
            div(class='grid-item2')
                input(type='text', placeholder='Doe', name='last')
            div(class='grid-item')
                label E-mail:
            div(class='grid-item2')
                input(type='email', placeholder='example@domain.com', name='email')
            div(class='grid-item')
                label Username:
            div(class='grid-item2')
                input(type='text', placeholder='jane.doe1', name='uid')
            div(class='grid-item')
                label Password:
            div(class='grid-item2')
                input(type='password', placeholder='******', name='pwd')
            div(class='grid-item')
                label
            div(class='grid-item2')
                input(type='submit' name='submit' value='Signup')

            if (empty)
                div(class='grid-item')
                    div.alert.alert-danger.alert-dismissible.fade.show.opacity-full(role='alert') Error: #{empty}

            if (success === 0)
                div(class='grid-item')
                    div.alert.alert-danger.alert-dismissible.fade.show.opacity-full(role='alert') Error: User #{user} was not created Successfully.
            else if (success === 1)
                div(class='grid-item')
                    div.alert.alert-success.alert-dismissible.fade.show.opacity-full(role='alert') Success: User #{user} was created Successfully.

    include footer