extends navbar
block content
	script(src='../javascript/update.js')

	form(action='/updatelisting' method='POST' name='formU')

		div(class='grid-container')
			div(class='grid-item')
				h2 Select a bar listing to update:
			div(class='grid-item2')
			div(class='grid-item')
				label(for='city') City:
			div(class='grid-item2')
				input(type='text' name='city')
			div(class='grid-item')
				label(for='zip code') Zip:
			div(class='grid-item2')
				input(type='text' name='zip')
			div(class='grid-item')
				label(for='search')
			div(class='grid-item2')
				input(type='submit' name='submit')
				
			each bar in {bars}
				p= ": " + bar
			
			
	include footer.pug