extends navbar
block content
	script(src='/javascript/update.js')

	div(class='grid-container')

		form(action='/updatelisting' method='post' name='formU')

			div(class='grid-item')
				h2 Select a bar listing to update:
			div(class='grid-item2')
			div(class='grid-item')
				label(for='city') City:
			div(class='grid-item2')
				input(type='text' name='city')
			div(class='grid-item')
				label(for='zip code') Zip:
			div(class='grid-item2')
				input(type='text' name='zip')
			div(class='grid-item')
				label(for='search')
			div(class='grid-item2')
				input(type='submit' name='submit')
			if (success)
				div.alert.alert-success Success: #{bar} bar updated.
			
		
	include footer.pug