extends navbar

block append content
	script(src='../javascript/update.js')

	form(action='/updatelisting' method='post' name='formU')

		div(class='grid-container')

			div(class='grid-item')
				label
			div(class='grid-item2')
				h2 #{title}
			div(class='grid-item')
				label(for='city') City:
			div(class='grid-item2')
				input(type='text' name='city')
			div(class='grid-item')
				label(for='zip code') Zip:
			div(class='grid-item2')
				input(type='text' name='zip')
			div(class='grid-item')
				label(for='search')
			div(class='grid-item2')
				input(type='submit' name='submit')
			if (success)
				div.alert.alert-success Success: #{bar} bar updated.