@font-face {
	font-family: "The Slug and Lion";
	src: url(../images/TheSlugandLion.otf);
}

html {
	background-color: #1a2930;
}

body{
    margin: 0;
    padding: 0;
    background-color: #1a2930;
}
.alert {
    width: 100%;
}

div.wrapper {
    /*--main div w/nav inside--*/
	overflow: hidden;
	background-color: #c06014;
    opacity: 0.8;
    /*height: 120px;*/
    position: relative;
    width: 80%;
    margin: 0 auto;
	text-align: center;
}

.wrapper h2 {
    font-family: "The Slug and Lion";
    font-size: 70px;
    text-align: center;
    margin-top: 14px;
}

#formdiv {
  /*--put div around form--*/
    margin-top:10%;
    display: inline-block;
}

.welcome {
    text-align: center;
    padding: 1em;
    width: 100%;
}

.opacity-full {
    opacity: 1;
}
.grid-item {
/*	border: 1px solid black;*/
	text-align: right;
	padding-left: 20px;
}

.grid-item2 {
/*	border: 1px solid red;*/
/*	height: 20px;*/
	text-align: left;
	padding-left: 10px;
}

.grid-item3 {
	width: 80%;
}

.grid-container {
	display: grid;
	grid-gap: 12px;
  	grid-template-columns: 40% 40%;
	background-color: #eddbcd;
	width: 80%;
    margin: 0 auto;
	margin-top: 16px;
	padding-bottom: 40px;
}

form{
/*--css for form--*/    
    font-size:1.2em;
}

#editform {
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#login {
    margin: 10px;
    text-align: center;
    font-size:1em;
}
#login div {
    margin: 10px;
}


label {
/*  width: 80px;*/
  text-align: right;
}

input{
	text-align: left;
}

.submit {
    width: 80px;
    text-align: center;
}

#updatebutton {
    width: 80px;
    text-align: center;
    float: left;
    margin-top: 10px;
}

#edit {
    margin: 10px;
    text-align: left;
}

#edit input {
    font-size:1em;
}
#edit label{
    width: 60%;
}

ul {
	list-style-type: none;
}

.buttonU, buttonU2 {
	margin-bottom: 12px;
}
.updateThis {
	display: none;
}

#fb {
    font-size:1.2em;
    font-weight: bold;
}
button {
	color: #c06014;
}

footer {
    text-align: center;
    opacity: .8;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
}

footer a:link {
    color: #c06014;
}

footer a:visited {
    color: #c06014;	
}

footer a:hover{
    color: #eddbcd;
    font-size:1.1em;
}


.footerfont{
    color: #eddbcd;
}
img:hover {
    border:0px solid lightblue;  /* -- Increasing the px here causes icons next to it to jump --*/
    box-shadow: 0 0 10px #eddbcd;
}

.twitter, .fb{
    max-width:10%;
    margin-left:5px;

}

img.fb,.twitter a:link{
    color: #eddbcd;
}

img.fb,.twitter{
    border-radius: 50%; /* --- gives round shape -- */
}
.container2 {
    background: #eddbcd;
    width: 80%;
    margin: 2em auto;
}


/*---start of @media query---*/
@media all and (max-width:790px) {
    .div1 {
        height: 60px;
        width: 90%;
    }

    .div1 h2 {
        font-size: 30px;
        margin-top: 10px;
    }

    div.wrapper {
        width: 100%;
    }

    form {
        width: 90%;
        margin: 0 auto;
    }

    #formdiv {
        margin-top: 10%;
        width: 70%;
        display: inline-block;
    }

    .grid-container {
        width: 100%;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: auto;
    }

    .grid-item {
        text-align: left;
    }

    footer {
        width: 100%;
    }

    .div1 {
        width: 100%;
    }

    .div-results {

        background-color: #00B7FF;
        /*background-color: ;*/
        margin: 0 auto;
        width: 100%;
    }
}
    /*---End of @media query---*/
    @media all and (max-width: 400px) {

        div.wrapper {
            width: 100%;
        }

        form {
            width: 100%;
            margin: 0 auto;
        }

        #formdiv {
            margin-top: 10%;
            width: 100%;
            display: inline-block;
        }

        .grid-container {
            grid-gap: 10px;
            grid-template-columns: auto;
        }

        .grid-container h2 {
            font-size: 18px;
        }

        footer {
            width: 100%;
        }

        .div1 {

            width: 100%;
        }

        h2 {
        }

    }

    /* --- search results ---- */
    .div-results {
        border:double;
        background-color: antiquewhite;
        /*background-color: ;*/
        margin: 0 auto 0 25%;
        width: 100%;
        padding: 1em;
        word-spacing: 0.25em;

    }

    li {
        list-style-type: none;
        text-align: left;
    }

    .dbutton{
        float:right;
    }